extends layout 
block content 
    h1 #{title}: #{product.name} 
    if product_category
        p #[strong Delete the following category before attempting to delete this product.]
        div(style='margin-left:20px;margin-top:20px')
            h4 Category
                dl 
                    dt 
                        a(href=product.category.url) #{product.category.name} 
                    dd #{product.category.description}
    else 
        p Do you really want to delete this product?
        form(method='POST')
            div.form-group
                input#productid.form-control(type='hidden', name='productid', value=product._id )

            button.btn.btn-primary(type='submit') Delete